.description {
    width: 360px;
margin: 25px;
background-color: paleturquoise;
text-align: center;
justify-content: center;
align-items: center;
}

.image {
    margin: 25px;
background-color: lavender;
border-radius: 50%;
height: 200px;
width: 200px;
}

.name {
    margin: 0;
font-family: 'Open Sans';
color: #092658;
font-size: 52px;
font-weight: bold;
}